---
layout: default
title: Freunde &amp; G&auml;ste des Labs
---
<div class="row" id="maincontent" tabindex="-1">

  <div>
    <div class="col-sm-12">
      <!-- <h1> Freunde &amp; G&auml;ste des Labs</h1> 
      <p>Hier haben wir Menschen zusammengetragen die uns besucht haben, uns unterstützen oder befreundet sind:</p> -->
    </div>

    {% for friend in site.data.friends %}

      <div class="col-sm-4 col-md-3 friend-wrapper">
        <div class="friend card">
          <div class="card-img"> 
            <img src="{{site.baseurl}}{{friend.img }}">
          </div>
          <h3>{{ friend.name }} </h3>
          <p>{{ friend.title }}</p>
          <p>
            {{ friend.bio }}
          </p>
          <p>  
              <a href="mailto:{{ friend.email }}">
                <i class="fa fa-envelope-o" aria-hidden="true"></i> {{ friend.email }}</a>
          
              <br>
              
              <a href="http://twitter.com/{{ friend.twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> {{ friend.twitter }}</a>
          </p>
          
          <p>
          {% for url in friend.urls %}
            <a href="{{ url }}" target="_blank"><i class="fa fa-link" aria-hidden="true"></i> {{ url }}</a>
            <br>
          {% endfor %}
            
          </p>
          <p>{{ friend.logo }}</p>
          
          {% for tag in friend.tags %}<div class="tag label label-primary">{{ tag }}</div>{% endfor %}
          </div>
      </div>
    {% endfor %}

    <div class="col-sm-12">
      <h3>Hinweis:</h3>
      
      <p>Diese Liste befindet sich im Aufbau und wird nie vollständig sein - können.</p> 
      <p>Wen wir hier noch einpflegen wollen, wären z.B.:</p>
        <ul>
          <li>Aleksandra Waligorska | Kuratorin des ADA Festival Hamburg </li>
          <li>Jeanne Vogt | Kuratorin des ADA Festival Hamburg </li>
          <li>Martin Virtel | Open Data City (Datenfreunde GmbH)</li>
          <li>Pavel Richter | OKF Int.</li>
          <li>Uwe Rohwedder | Wikipedia: Kontor Hamburg</li>
          <li>Magdalena Noffke | Code for Berlin.de</li>
          <li>Jochen Klar | Code for Berlin</li>
          <li>Timo Bleckwedel | Leuphana Universität Lüneburg</li>
          <li>Theresa Grotendorst | Jugendhackt Nord</li>
          <li>Arne Semsrott | Fragdenstaat.de</li>
          <li>Helene Hahn | datenschule.de / okfn.de </li>
          <li>Stefan Kuppe, Walter Diart, Kathrin Bekel| Fachliche Leitstelle transparenz.hamburg.de</li>
          <li>Dr. Katrin Voss | Politik- und Kommunikationswissenschaftlerin - kathrinvoss.de</li>
          <li>Julia Kloiber | Codefor.de / Open Knowledge Foundation DE e.V.</li>
          <li>Fiona Krakenbürger | Codefor.de / Open Knowledge Foundation DE e.V.</li>
          <li>Eileen Wagner | Codefor.de / Open Knowledge Foundation DE e.V.</li>
          <li>Elisa Lindinger | Codefor.de / Open Knowledge Foundation DE e.V.</li>
          <li>viele viele mehr...</li>
        </ul>
      <p>Alle Fehlenden bitte hier eintragen unter: <a href="https://github.com/codeforhamburg/codeforhamburg.github.io">Github-Repo</a></p>
    </div>
</div>
</div>
