---
layout: default
title: Code for Hamburg | Wir
---
<div class="row" id="maincontent" tabindex="-1">

  <div id="about">
    <h1>Über das Code for Hamburg Lab</h1>
    <p>Code for Hamburg ist eine Gruppe von Leuten welche offene Software auf der Grundlage von eigenen oder offenen Daten baut um der Allgemeinheit freie, kostenlose und innovative Dienste und Anwendungen bereitzustellen.</p>  

    <p>Wir sind ehrenamtliche Technologiebegeisterte, Planer, Programmierer von Apps und Websites, Datenspezialisten, Verwaltungsmenschen, Ideengeber, Aktivisten, (zu selten) Designer (<a href="http://meetup.com/codeforhamburg">Komm gerne vorbei!</a>)und Kreative!</p>

    <p>Wir basteln und bauen mit Offenen Daten die großartiger Weise von der Freien und Hansestadt Hamburg auf Grundlage des Hamburgischen Transparenz-Gesetzes (HmbTG) auf der Webseite <a href="http://transparenz.hamburg.de">transparenz.hamburg.de</a> offen und frei zur Verf&uuml;gung gestellt werden. </p>  
  </div>


  <div>
  <h1> Das Team von Code for Hamburg</h1>
  <p> Das hier dargestellte "Team" vom Code for Hamburg Lab ist immer nur eine Momentaufnahme - und doch nicht weniger falsch! Wir finden uns zu Projekten zusammen und experimentieren ehrenamtlich zusammen, wenn es uns die Zeit erlaubt.</p>

  {% for member in site.data.members %}

    <div class="col-sm-3 friend card">
      <img src="{{site.baseurl}}{{member.img }}" class="img-responsive">
      <h3>{{ member.name }} </h3>
      <p>{{ member.title }}</p>
      <p>
        {{ member.bio }}
      </p>
      <p>

          <a href="mailto:{{ member.email }}">{{ member.email }}</a>

          <br>

          <a href="http://twitter.com/{{ member.twitter }}" target="_blank">{{ member.twitter }}</a>
      </p>
      <p>
        <a href="http://{{ member.url }}" target="_blank">{{ member.url }}</a>
        <br>
        <a href="http://{{ member.url2 }}" target="_blank">{{ member.url2 }}</a>
      </p>
      <p>{{ member.logo }}</p>
      
      {% for tag in member.tags %}
      
      <div class="tag">
        {{ tag }}
      </div>
      
      {% endfor %}
    
  </div>
  {% endfor %}


  </div>

</div>