---
layout: default
title: Code for Hamburg | Wir
---
<div class="row" id="maincontent" tabindex="-1">

  <div class="col-sm-12" id="about">
    <h1>Über das Code for Hamburg Lab</h1>
    <p>Code for Hamburg ist eine Gruppe von Leuten welche offene Software auf der Grundlage von eigenen oder offenen Daten baut um der Allgemeinheit freie, kostenlose und innovative Dienste und Anwendungen bereitzustellen.</p>  

    <p>Wir sind ehrenamtliche Technologiebegeisterte, Planer, Programmierer von Apps und Websites, Datenspezialisten, Verwaltungsmenschen, Ideengeber, Aktivisten, (zu selten) Designer (<a href="http://meetup.com/codeforhamburg">Komm gerne vorbei!</a>)und Kreative!</p>

    <p>Wir basteln und bauen mit Offenen Daten die großartiger Weise von der Freien und Hansestadt Hamburg auf Grundlage des Hamburgischen Transparenz-Gesetzes (HmbTG) auf der Webseite <a href="http://transparenz.hamburg.de">transparenz.hamburg.de</a> offen und frei zur Verf&uuml;gung gestellt werden. </p>  
  </div>


  <div>
    <div class="col-sm-12">
      <h1> Das Team von Code for Hamburg</h1>
      <p> Das hier dargestellte "Team" vom Code for Hamburg Lab ist immer nur eine Momentaufnahme - und doch nicht weniger falsch! Wir finden uns zu Projekten zusammen und experimentieren ehrenamtlich zusammen, wenn es uns die Zeit erlaubt.</p>
    </div>

    {% for member in site.data.members %}

      <div class="col-sm-4 col-md-3 friend-wrapper">
        <div class="friend card">
          <div class="card-img"> 
            <img src="{{site.baseurl}}{{member.img }}">
          </div>
          <h3>{{ member.name }} </h3>
          <p>{{ member.title }}</p>
          <p>
            {{ member.bio }}
          </p>
          <p>  
              <a href="mailto:{{ member.email }}">
                <i class="fa fa-envelope-o" aria-hidden="true"></i> {{ member.email }}</a>
          
              <br>
              
              <a href="http://twitter.com/{{ member.twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> {{ member.twitter }}</a>
          </p>
          
          <p>
          {% for url in member.urls %}
            <a href="{{ url }}" target="_blank"><i class="fa fa-link" aria-hidden="true"></i> {{ url }}</a>
            <br>
          {% endfor %}
            
          </p>
          <p>{{ member.logo }}</p>
          
          {% for tag in member.tags %}<div class="tag label label-primary">{{ tag }}</div>{% endfor %}
          </div>
      </div>
    {% endfor %}


    <div class="col-sm-12">
      <h3>Hinweis:</h3>
      <p>Diese Liste befindet sich im Aufbau und wird nie vollständig sein - können. Jeder der fehlt, bitte/gerne eintragen unter: <a href="http://https://github.com/codeforhamburg/codeforhamburg.github.io">Github-Repo</a></p>
    </div>
</div>
</div>

